/*! Sub reset */
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child{
    margin-top:0
}


img{
    max-width:100%;
    height:auto;
    display:block;

}



body{
    line-height:24px;
    text-rendering: optimizeLegibility !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}